body {
	margin: 0;
	background-color: rgba(164, 168, 164, 0.3);
}

div {
	display: block;
}

nav {
	display: block;
}

#logo {
	width: 30vw;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	background-color: rgba(164, 168, 164, 1);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

#header-img {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	max-width: 300px;
	margin-left: 20px;
}

li {
	list-style-type: none;
	padding: 1em;
	text-decoration: none;
	font: 
}

ul > li {
	display: inline;
	margin-right: 2em
}

ul {
	margin-right: 3em;
}

#formEmail {
	margin-top: 5em;

}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	position: relative;
}

#email {
	width: 200px;
}

.vid {
	display: flex;
	justify-content: center;
}

#video {
	margin-top: 4em;
	align-items: center;
	width: 90vw;
	max-width: 600px;
}


#features {
	text-align: center;
}

.box {
	border: 1px solid;
	display: flex;
	text-align: center;
	justify-content: center;
}

